<section class="bg-white border-t-2 border-gray-200 rounded-t-lg ">
<article class=>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>
  
  <h2 class="text-black font-bold p-8">My Order</h2>
  <div class="overflow-auto h-64 shadow">
  <table class="">
    <%= render(cart.line_items) %>
  </table>
  </div>
  <div class="actions">
    <%= button_to 'Empty Cart', cart,
                  method: :delete,
     data: { confirm: 'Are you sure?' } %>
    
       <%= link_to 'Checkout', 
    new_order_path(amount: cart.total_price, account_id: @account.id), method: :get, class: "checkout" %>
      </div>

    </div>
  </div>

</article>

</section>

