#cart {
    article {
      h2 {
        margin-top: 0;
      }
      background: white;
      border-radius: 0.5em;
      margin: 1em;
      padding: 1.414em;
      @media (min-width: 30em) {
        margin: 0; // desktop doesn't need this margin
      }
    }
  }