          <% if line_item == @current_item %>
          <tr class = "line-item-highlight">
          <% else %>
          <tr>
          <% end %>
            <td>
              <a href="#">
                <p class="mb-2 md:ml-4"><%= line_item.product.title%></p>
                <form action="" method="POST">
                  <button type="submit" class="text-gray-700 md:ml-4">
                    <small>(Remove item)</small>
                  </button>
                </form>
              </a>
            </td>
            <td class="justify-center md:justify-end md:flex mt-6">
              <div class="w-20 h-10">
                <div class="relative flex flex-row w-full h-8">
                <input type="number" value="<%= line_item.quantity %>" 
                  class="w-full font-semibold text-center text-gray-700 bg-gray-200 outline-none focus:outline-none hover:text-black focus:text-black" />
                </div>
              </div>
            </td>
            <td class="hidden text-right md:table-cell">
              <span class="text-sm lg:text-base font-medium">
                <%= number_to_currency(line_item.total_price) %>
              </span>
            </td>
            <td class="text-right">
              <span class="text-sm lg:text-base font-medium">
                xyztbc
              </span>
            </td>
</tr> 